<!--From "https://bootsnipp.com/snippets/dldxB" -> modify -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>필드 : 회원가입</title>
        <link rel="stylesheet" href="./sign/signUp.css" id="bootstrap-css">
    </head>
    <body>
        <div class="wrapper fadeInDown">
            <div id="formContent">

              <img src="./sign/image/logo.jpg" id="icon" alt="logo" width="50"/>

          
              <!-- Sign up Form -->
              <form action="/signUp" method="POST">
                <input type="text" id="id" name="id" placeholder="ID">
                <input type="password" id="password" name="pw" placeholder="PASSWORD" className="input-pw" autocomplete="current-password">
                <input type="text" id="email" name="email" placeholder="EMAIL">
                <input type="text" id="name" name="name" placeholder="NICKNAME">
                <input type="text" id="dept" name="dept" placeholder="DEPARTMENT NAME">
                <input type="submit" value="Sign Up">
              </form>

            </div>
          </div>
    </body>
</html>