body{
    background-color: #eceef2;
}

.container{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 70px 100px 1200px;
}

.item:nth-child(1){
    background-color: rgb(21, 74, 153);
    padding: 15px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    }
    
.item:nth-child(2){
    background-color: rgb(21, 74, 153);
    padding: 15px;
    display: flex;
    align-items: center;
    }

.item:nth-child(3){  
    background-color: rgb(21, 74, 153);
    padding: 15px;
    justify-content: flex-end;
    display: flex;
    }

.item:nth-child(4){  /* 빈공간 */ 
    grid-column: 1 / span 3;
    background-color: #eceef2;
    padding: 15px;
    display: flex;
    }

.item:nth-child(5){  /* 과목 선택란 */
    grid-column: 1 / span 3;
    background-color: #eceef2;
    padding: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    }

    
.item:nth-child(6){  /* 필기업로드란 */ 
    grid-column: 1 / span 3;
    background-color: #eceef2;
    padding: 15px;
    display: flex;
    justify-content: center;
    }


