
#search{
    height: 30px;
    width: 700px;
    font-size: 18px;
}

#search_button{
        width: 80px;
        height: 30px;
        background-color: #fff;
        border: none;
        color: rgb(21, 74, 153);
        box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
        font-size: 16px;
        font-weight: bold;
        border-radius: 20px;
        position: absolute;
        transform: translate (-50%, -50%);
        transition:0.3s;
}

#search_button:focus{
    outline: 0; 
}

#search_button:hover{
    background-color: #cccccc;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba (0, 79, 255, 0.6);
}

#user_id{
    text-align: end;
    width:200px;
}

#search_lecture_space{
    width: 700px;
    height: 50px;
    font-size: 20px;
    border: 4px solid rgb(21, 74, 153);
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: white;
}

#sub_info{
    display: flex;
    align-items: center;
    gap: 15px;
}

#sub_info p{
    margin-left: 25px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(21, 74, 153);
}

#sub_info input{
    width: 150px;
    height: 30px;
    background: rgb(238, 238, 238);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 20px;
    text-align: center;
}

input[type=file]::file-selector-button {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    cursor: pointer;
}

input[type=file]::file-selector-button:hover {
    background: #cccccc;
    color: #fff;
}

#file{
    margin-top: 5px;
    margin-left: 50px;
}

#upload_text{
    margin-top: 60px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(21, 74, 153);
}

#point_bnt_group{
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
}

#submit_btn{
    width: 200px;
    height: 70px;
    margin-top: 90px;
    margin-left: 70%;
    border: 4px solid rgb(21, 74, 153);
    border-radius: 30px;
    background-color: rgba(0,0,0,0);
    color: rgb(21, 74, 153);
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
}

#submit_btn:hover{
    background-color: #cccccc;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba (0, 79, 255, 0.6);
}

#profile_id{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    color: #fff;
}

#profile_point{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

#sidebar_btn1{
    margin-top: 50px;
    width: 250px;
    height: 50px;
}
#sidebar_btn2{
    margin-top: 10px;
    width: 250px;
    height: 50px;
}
#sidebar_btn3{
    margin-top: 10px;
    width: 250px;
    height: 50px;
}
#sidebar_btn4{
    margin-top: 10px;
    width: 250px;
    height: 50px;
}

#sidebar_btn_group button{
    color: rgb(21, 74, 153);
    padding: 5px;
    font-size: 15px;
}

#sidebar_btn_group button:hover{
    background-color: #cccccc;
}

#background{
    background-color: rgb(230, 230, 230);
}
