body{
    background-color: #eceef2;
}
body {margin: 0;}  

.container{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 60px auto;
}

.item:nth-child(1){
    grid-column: 1 /3;
    grid-row: 1/2;
    background-color: rgb(21, 74, 153);
    padding: 15px;
    text-align: center;
    display: flex;
    }

.icon_search{
    display: flex;
    align-items: center;
}

.search_btn{
    margin-left: 20px;
}

.item:nth-child(2){  
    background-color: rgb(21, 74, 153);
    padding: 15px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 700;
    }

.item:nth-child(3){ 
    grid-column: 1 /4;
    grid-row: 2/3;
    background-color: #eceef2;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    }


input[id="menuicon"] {display:none;}
input[id="menuicon"] + label {display:block;margin:0px;width:35px;height:25px;position:relative;cursor:pointer;}
input[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:5px;border-radius:30px;background:#fff;transition:all .35s;}
input[id="menuicon"] + label span:nth-child(1) {top:0;}
input[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);}
input[id="menuicon"] + label span:nth-child(3) {bottom:0;}
input[id="menuicon"]:checked + label {z-index:2;}
input[id="menuicon"]:checked + label span {background:#fff;}
input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
div[class="sidebar"] {width:400px;height:100%;background:rgb(21, 74, 153);position:fixed;top:0;right:-400px;z-index:1;transition:all .35s; box-shadow: 0px 0px 10px 0px black;}
input[id="menuicon"]:checked + label + div {right:0;}

.sidebar{
    display: flex;
    justify-content: center;
}

.profile_img_box{
    width: 130px;
    height: 130px;
    border-radius: 70%;
    overflow: hidden;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
}

.profile_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
