<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>필드 : 필기 업로드</title>
    <link rel="stylesheet" href="./layout.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./box.css">
</head>

<body>
    <div class="container">
        <form class=item action="/search" method="POST">
            <div class="icon_search">&nbsp&nbsp
                <a href="/"><img src="../memberMain/image/home.png" alt="home" width="30" height="25"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input id="search" type="text" name="keyword" />
            </div>
            <div class="search_btn"> <input id="search_button" type="submit" value="search" /></div>
        </form>
        <div class="item">
            <div id="main_box">
                <div id="keyword_box">
                    <p id="search_keyword">
                        <strong id="keyword">
                            "<%= keyword %>" 
                        </strong>
                        (으)로 검색한 결과입니다.
                    </p>
                </div>
                <div id="result_box">
                    <% if(result) { %>
                        <% for(var i=0; i < result.length; i++){ %>
                            <div id="content_box">
                                <p id="title_text">
                                    <%= result[i].name %>님의 <%= result[i].course %> 필기
                                </p>
                                <p id="summary_text">
                                    <%= result[i].explanation %>
                                </p>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>

</html>