#search{
    height: 20px;
    width: calc(100vw - 800px);
}

#search_button{
        width: 80px;
        height: 30px;
        background-color: #fff;
        border: none;
        color: rgb(21, 74, 153);
        box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
        font-size: 16px;
        font-weight: bold;
        border-radius: 20px;
        position: absolute;
        transform: translate (-50%, -50%);
        transition:0.3s;
}

#search_button:focus{
    outline: 0; 
}

#search_button:hover{
    background-color: #999999;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba (0, 79, 255, 0.6);
}

#background{
    background-color: rgb(230, 230, 230);
}

#get_button{
    width: 100px;
    height: 38px;
    background-color: #fff;
    border: 4px solid rgb(21, 74, 153);
    color: rgb(21, 74, 153);
    box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

#get_button:focus{
outline: 0; 
}

#get_button:hover{
background-color: #999999;
cursor: pointer;
box-shadow: 0 2px 4px rgba (0, 79, 255, 0.6);
}
